/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: #add8e6;
  display: flex;
  justify-content: center;
}

header > section {
  height: 50px;
  background-color: #daa520;
  margin: auto;
}

main > section,
footer > section {
  min-height: 500px;
}

footer {
  background-color: #23272a;
}
.main-width {
  width: 80%;
}

.border-dashed {
  border: 3px black dashed;
}

.blue {
  background-color: #00008b;
  border-bottom: 3px solid #acd7e6;
}

.pink {
  background-color: #ee82ee;
  margin: auto;
  width: 60%;
  height: 400px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenitore box azzurro chiaro e rosa chiaro */
.flex-wrapper {
  display: flex;
  justify-content: center;
  height: 450px;
}

.light-blue {
  background-color: #1e90ff;
  width: 70%;
}

.light-pink {
  background-color: #ffc0cb;
  width: 30%;
}

.green {
  background-color: #228b22;
  height: 600px;
  margin: 50px 0; /*rivedere*/
}

.coral-pink {
  background-color: #f08080;
  width: 25%;
}

.aqua {
  background-color: #20b2aa;
  width: 75%;
}

/* Sistemare le altezze delle sezioni! */

.gray-background {
  background-color: #d3d3d3;
}

.gray-border {
  border-bottom: 3px solid #c8c8c8;
}

.quarters-columns {
  width: 25%;
  border: 2px white dashed;
}