/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: #add8e6;
  display: flex;
  justify-content: center;
}

header > section {
  height: 50px;
  background-color: #daa520;
  margin: auto;
}

main > section {
  height: 500px;
}

.main-width {
  width: 80%;
  border: 3px black dashed;
}

.blue {
  display: flex;
  justify-content: center;
  background-color: #00008b;
  border-bottom: 3px solid #acd7e6;
}

.pink {
  background-color: #ee82ee;
  margin: auto;
  width: 60%;
  height: 400px;
}
